[submodule "lib/litex"]
	path = lib/litex
	url = https://github.com/enjoy-digital/litex
[submodule "lib/litex-boards"]
	path = lib/litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "lib/litepcie"]
	path = lib/litepcie
	url = https://github.com/enjoy-digital/litepcie
[submodule "lib/liteiclink"]
	path = lib/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "lib/litespi"]
	path = lib/litespi
	url = https://github.com/litex-hub/litespi.git
[submodule "lib/litehyperbus"]
	path = lib/litehyperbus
	url = https://github.com/litex-hub/litehyperbus.git
[submodule "lib/embeddedsw"]
	path = lib/embeddedsw
	url = https://github.com/Xilinx/embeddedsw.git
[submodule "lib/qorc-sdk"]
	path = lib/qorc-sdk
	url = https://github.com/QuickLogic-Corp/qorc-sdk.git
	shallow = true
[submodule "lib/u-boot"]
	path = lib/u-boot
	url = https://github.com/u-boot/u-boot
[submodule "lib/armbin2elf"]
	path = lib/armbin2elf
	url = https://github.com/majbthrd/armbin2elf
[submodule "lib/zynq-mkbootimage"]
	path = lib/zynq-mkbootimage
	url = https://github.com/antmicro/zynq-mkbootimage.git
[submodule "lib/zynq_flash"]
	path = lib/zynq_flash
	url = https://github.com/raczben/zynq_flash.git
[submodule "lib/zynqmp-pmufw-builder"]
	path = lib/zynqmp-pmufw-builder
	url = https://github.com/lucaceresoli/zynqmp-pmufw-builder.git
[submodule "lib/litescope"]
	path = lib/litescope
	url = https://github.com/enjoy-digital/litescope.git
