[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
litex = {path = "./lib/litex"}
migen = {path = "./lib/migen"}
litedram = {path = "./lib/litedram"}

[packages]
litex = {path = "./lib/litex"}

[requires]
python_version = "3.7"
