[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
litex = {editable = true,path = "./lib/litex"}
litedram = {editable = true,path = "./lib/litedram"}
migen = {editable = true,path = "./lib/migen"}

[packages]

[requires]
python_version = "3.7"
